.hero-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/jawwal-banner.jpg');
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.hero-banner-content {
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-banner-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-banner-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.hero-banner-btn {
    background-color: transparent;
    color: #fff;
    padding: 0.5rem 1rem;
    border: 1px solid #76bc21;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Neo Sans Roman', sans-serif;
}

.hero-banner-btn:hover {
    transition: 0.3s ease-in-out;
    background-color: #76bc21;
    color: #fff;
}

.service-section {
    padding: 2rem;
    text-align: center;
}

/* .service-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
} */

.service-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
}

.service-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    margin: 0 1rem;
    border: #76bc21 1px solid;
    border-radius: 16px;
    padding: 0.2rem 0.5rem;
}

.service-card:hover {
    outline: #76bc21 2px solid;
    cursor: pointer;
}

.service-card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.service-card img {
    width: 50px;
}

.service-card .arrow {
    font-size: 1rem;
    color: #76bc21;
}

.about-section {
    padding: 2rem;
    text-align: center;
}

.about-content {
    margin-top: 2rem;
    text-align: justify;
}

.about-content img {
    width: 30%;
    border-radius: 16px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    float: left;
    margin-right: 1rem;
}

.about-content figcaption {
    font-style: italic;
    font-size: 0.8rem;
    color: #666;
}

@media (max-width: 767px) {
    .hero-banner {
        height: 60vh;
    }

    .hero-banner-content h1 {
        font-size: 2rem;
    }

    .hero-banner-content p {
        font-size: 1rem;
    }
    

    .about-content img {
        width: -webkit-fill-available;
        float: none;
    }
}